<div class="w-100 foot">
  <div class="d-flex justify-content-around">
    <div class="pt-5 support">
      <h3>QUICK LINKS</h3>
      <div>
   <ul>
    <li>
      <a class="mt-5" routerLink="/cloth">Cloth</a>
    </li>
    <li>
      <a class="mt-5" routerLink="/bags">Bags</a>
    </li>
    <li>
      <a routerLink="/perfume">Perfumes</a>
    </li>
    <li>
      <a routerLink="">FAQs</a>
    </li>
    <li>
      <a routerLink="">Terms of Service</a>
    </li>
    <li>
      <a routerLink="">Refund policy</a>
    </li>
   </ul>

      </div>
    </div>
    <div class="pt-5 support">
      <h3>SUPPORT</h3>
      <div>
   <ul>
    <li>
      <a routerLink="">Privacy policy</a>
    </li>
    <li>
      <a routerLink="">Terms of Use</a>
    </li>
    <li>
      <a routerLink="">Cookies policy</a>
    </li>
    <li>
      <a routerLink="">Contact Us</a>
    </li>

   </ul>
      </div>
    </div>
  </div>
</div>
<div class="foot1 d-flex p-4">
  <div class="right">© D'Elite Shop 2022. All Rights Reserved</div>
</div>
