input{
  border: none;
  margin-top: 3px;
  outline: none !important;
  background: transparent;
  box-shadow: none !important;
}

a{
  text-decoration: none;
  color: #bea8f1;
}
.container{
  
  h4{
    color: #bea8f1;
  }
  form{
    .input{
      width: 100%;
      height: 45px;
      border: 1px solid #c4bebe;
      border-radius: 7px;
      .up{
        position: absolute;
        margin-top: -1.7%;
        margin-left: 2%;
        display: none;
      }
    }
  }
}
input:hover .up{
  display: inherit !important;
  }
